@mixin image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.containerPanel {
  border: 2px solid red;
}

.height {
  border: 3px solid white;

  &-half {
    height: 50vh;
    @include image;
  }

  &-full {
    height: 100vh;
    @include image;
  }
}
