body {
    padding: 0px;
    margin: 0px;
    background-color: #4E5F70;
}

@font-face {
    font-family: dialogues;
    src: url('../fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype');
  }

  @font-face {
    font-family: title;
    src: url('../fonts/Truculenta_Condensed-Bold.ttf')  format('truetype');
  }
  @font-face {
    font-family: title_medium;
    src: url('../fonts/Truculenta_Condensed-Medium.ttf')  format('truetype');
  }

  @font-face {
    font-family: chapter;
    src: url('../fonts/Finlandica-Regular.ttf')  format('truetype');
  }
  @font-face {
    font-family: Location;
    src: url('../fonts/Finlandica-Bold.ttf')  format('truetype');
  }
  


/*styles für die schriften im comicbereich*/
.farsan-regular {
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Menü-Button */
.menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* Overlay */
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.menu-content {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.language-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.close-button {
    margin-top: 20px;
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.title {
    font-family: "title";
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 500;
    font-style: normal;
    margin: 2%;
    margin-top: -1%;
    position: absolute;
    top: 44vw;
    width: 80vw;
    line-height: 10.5vw;
}

.chapter{
    font-family: "chapter";
    text-transform: uppercase;
    font-size: 1.8vw;
    margin: 2%;
    position: absolute;
    top: 45vw;
    letter-spacing: 0.5vw;
}

.location{
    font-size: 1.4vw;
    margin: 2%;
    font-family: "Location";
    position: absolute;
    top: 106vw;
}
.location2{
    font-size: 1.4vw;
    margin: 2%;
    font-family: "Location";
    position: absolute;
    top: 10vw;
}
.date{
    font-size: 1.4vw;
    margin: 2%;
    font-family: "chapter";
    position: absolute;
    top: 104vw;
}

.speaker{
    font-size: 1.2vw;
    padding: 2%;
    font-family: "chapter";
    position: relative;
    color: #000;
    font-style: italic;
    background-image: url("/resources/images/speaker.png");
    background-size: 100% 100%; /* <<< das verzerrt das Bild auf die Boxgröße */
    background-repeat: no-repeat;
    background-position: center;
}

.dialog {
    font-family: "dialogues";
    font-style: normal;
    line-height: 2.3vw;
    position: absolute;
    display: block;
}

.highlight { 
    display: inline;
    padding: 0.3vw 0.8vw;
    
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  @media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
  .highlight { 
    padding: 0.5vw 1vw;
  }
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.start_light{
    background-color: #B3D6DD;
}
.start_middle{
    background-color: #81A9B3;
}
.start_dark{
    background-color: #467180;
}
.alltag_dark{
    background-color: #0F4A53;
  }
.alltag_light{
    background-color: #B2E8F1;
}
.alltag_middle{
    background-color: #33828E;
}

.hundstag_dark{
    background-color: #33818D;
}
.hundstag_middle{
    background-color: #76CBD9;
}

.hundstag_light{
    background-color: #B0E6EF;
}
.FSturm_dark{
    background-color: #2e3c5f;
}
.FSturm_middle{
    background-color: #455c90;
}

.FSturm_light{
    background-color: #89a0d7;
}

.post_dark{
    background-color: #214B4D;
  }
.post_light{
    background-color: #6AB1B5;
}
.post_dream_light{
    background-color: #bdd9d9;
}
.post_dream_middle{
    background-color: #809192;
}
.post_dream_dark{
    background-color: #577070;
}
.post_middle{
    background-color: #396364;
}

.madeira_light{
    background-color: #D1D8A2;
}

.madeira_middle{
    background-color: #A9B54F;
}

.madeira_dark{
    background-color: #7B8900;
}

.bg_white {
    background-color: #fff;
}

.bg_black {
    background-color: #000;
}

/*styles für die karte*/
#scrollbox {
    position: fixed;
    top:0px;
    left:0px;
    height:100vh;
}

#map_BG {
    position: fixed;
    width: 100vw;
    height:  69.9vw;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#map {
    position: fixed;
}

#grid {
    position: fixed;
}

#label {
    position: fixed;
}


#ice {
    position: fixed;
}

#path {
    position: fixed;
}

path {
    fill: #4E5F70;
    stroke:  #4E5F70;
}

.graticule {
    fill: none;
    stroke:#5D7082;
    stroke-width: 1px;
}

.foreground {
    fill:#6F8193;
    stroke: none;
    stroke-width: 1.5px;
}

.city {
    fill: #AEC5DB;
    /*text-shadow:
     -1px -1px 0 #7492A8,    Schatten links oben */
     /*1px -1px 0 #7492A8,    Schatten rechts oben */
     /*-1px 1px 0 #7492A8,    Schatten links unten */
     /* 1px 1px 0 #7492A8;    Schatten rechts unten */
    font-family: "chapter";
    font-size: 1.3vw;
}

.city-circle {
    fill: #AEC5DB; /* Füllfarbe des Kreises */
    /*stroke: #7492A8;  Randfarbe */
    stroke-width: 1px; /* Dicke des Randes */
  }

  .ocean-label {
    font-family: "chapter";
    font-size: 0,8vw;
    fill: #9DB4C9;  /* Textfarbe */
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
     /*text-shadow:
    -2px -2px 0 #7492A8,   Schatten links oben 
    2px -2px 0 #7492A8,    
    -2px 2px 0 #7492A8,    
    2px 2px 0 #7492A8;    */
  }

  .continent-label {
    font-family: "chapter";
    font-size: 16px;
    fill: #2E3B4B;  /* Textfarbe */
    text-align: center;
    font-size: 1.1vw;;
    text-transform: uppercase;
     /*text-shadow:
    -2px -2px 0 #7492A8,   Schatten links oben 
    2px -2px 0 #7492A8,    
    -2px 2px 0 #7492A8,    
    2px 2px 0 #7492A8;    */
    letter-spacing: 0.1vw;
  }


.antarctica {
    font-family: "chapter";
    font-size: 16px;
    fill: #ffffff;  /* Textfarbe */
    text-align: center;
    font-size: 0.9em;
    text-transform: uppercase;
    text-shadow:
    -2px -2px 0 #7492A8,   /* Schatten links oben */
    2px -2px 0 #7492A8,    /* Schatten rechts oben */
    -2px 2px 0 #7492A8,    /* Schatten links unten */
    2px 2px 0 #7492A8;     /* Schatten rechts unten */
    letter-spacing: 0.1vw;
  }

.ocean-path{
    opacity: 0;
}

/* route on the map style*/
.Amundsen{
    stroke:black;
}
  
.Scott{
    stroke:white;
}

.text-overlay {
    position: absolute;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    pointer-events: none;
}

/* comic bilder style*/
.image-container {
    position: relative;
    margin-top: -5px;
    margin-bottom: -6px;
}

.container {
    width: 100%;
    position: relative;
}

.day-div {
    width: 100%;
    margin-bottom: 10px;
    /*background-color: lightblue;  Standardfarbe */
    text-align: center;
    line-height: 1.5; /* Zeilenhöhe für lesbaren Text */
}

.spacer-div {
    width: 100%;
    overflow: hidden;
}

.margin {
    width: 100%;
    height: 50vh; /* 50% der Fensterhöhe */
}

#excurs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.5s ease;
}

#excursContent {
    pointer-events: auto;
}
.excursheadline {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 9vw;
    color: #fff;
    font-family: "title_medium";
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 300;
  }

  .excursIntroText {
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    background-image: url(../images/ExcursIntroBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3vw;
    font-family: chapter;
  }

  .excursButtonWrapper {
    position: absolute;
    top: 52vw;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw; /* Abstand zwischen Buttons */
  }
  
  .excursButton {
    width: 21vw;
    height: 5vw;
    background-size: 100% 100%;
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    font-family: chapter;  }

.excursButton1 {
    background-image: url('../images/Excurs_Button1.png'); /* Passe Pfad an */
}

.excursButton2 {
    background-image: url('../images/Excurs_Button2.png'); /* Passe Pfad an */
}

.excursContainer{
    width: 100vw;
    height: 100vh;
    background-color: #2E3B4B;
    background-image: url("../images/BGMannschaft_01.png");
    background-size: 100% 100%;
    z-index: 10;
    position: fixed;
    top: 0%;
    display: none;
}

.excursCloseButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* oder eine passende Farbe */
    z-index: 10;
  }


  .ExCrewButtonWrapper {
    position: absolute;
    width: 80vw;
    top: 4vw;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5vw; /* Abstand zwischen Buttons */
  }
  
  .ExCrewButton {
    width: 15vw;
    height: 4vw;
    background-size: 100% 100%;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    font-family: chapter;  
    background-image: url('../images/Excurs_Button1.png');
}


#exCrewText {
    position: absolute;
    bottom: 2vw;
    height: 10vw;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    font-size: 1vw;
    line-height: 1.6;
    text-align: left;
    color: #354455;
    padding: 2vw;
    font-family: chapter;
  }

.TerraNova {
    fill: #FFF;
}
.Fram {
    fill: #000;
}
.ExCrewButton.active {  
    background-image: url('../images/Excurs_Button3.png');
    color: #2E3B4B;
}

