body {
    background-color: #bde6ef;
    padding: 0px;
    margin: 0px;
}

/*styles für die schriften im comicbereich*/
.farsan-regular {
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Menü-Button */
.menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* Overlay */
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.menu-content {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.language-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.close-button {
    margin-top: 20px;
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 5vw;
    font-weight: 500;
    font-style: normal;
    margin: 2%;
    margin-top: -1%;
    position: absolute;
    top: 60vh;
}

.chapter{
    font-size: 1.5vw;
    margin: 2%;
    font-family: sans-serif;
    position: absolute;
    top: 57vh;
}

.LocationAndDate{
    font-size: 1.2vw;
    margin: 2%;
    font-family: sans-serif;
    position: absolute;
    top: 78vh;
}

.speaker{
    font-size: 1.2vw;
    padding: 2%;
    font-family: sans-serif;
    position: relative;
    background-color: #ffffffaf;
    color: #000;
    font-style: italic;
}

.dialog {
    font-size: 2.1vw;
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 2.5vw;
    position: absolute;
    display: block;
}

.highlight { 
    display: inline;
    padding: 0.05vw 1vw;
    
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  @media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
  .highlight { 
    padding: 0.5vw 1vw;
  }
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.post_dark{
    background-color: #214B4D;
  }
.post_light{
    background-color: #6AB1B5;
}

.madeira_light{
    background-color: #D1D8A2;
}

.madeira_dark{
    background-color: #7B8900;
}

.bg_white {
    background-color: #fff;
}

/*styles für die karte*/
#scrollbox {
    position: fixed;
    top:0px;
    left:0px;
    height:100vh;
}

#map {
    position: fixed;
}

#grid {
    position: fixed;
}

#label {
    position: fixed;
}


#ice {
    position: fixed;
}

#path {
    position: fixed;
}

path {
    fill: white;
    stroke:  none;
}

.graticule {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: .2px;
}

.foreground {
    fill:#bde6ef;
    stroke: none;
    stroke-width: .5px;
}

.city {
    fill: #5a5b5e;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 white,   /* Schatten links oben */
    1px -1px 0 white,    /* Schatten rechts oben */
    -1px 1px 0 white,    /* Schatten links unten */
    1px 1px 0 white;     /* Schatten rechts unten */
    font-family: sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

.city-circle {
    fill: #5a5b5e; /* Füllfarbe des Kreises */
    stroke: white; /* Randfarbe */
    stroke-width: 1px; /* Dicke des Randes */
  }

  .continent-label {
    font-family: sans-serif;
    font-size: 16px;
    fill: #49808c;  /* Textfarbe */
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    text-shadow:
    -2px -2px 0 #bde6ef,   /* Schatten links oben */
    2px -2px 0 #bde6ef,    /* Schatten rechts oben */
    -2px 2px 0 #bde6ef,    /* Schatten links unten */
    2px 2px 0 #bde6ef;     /* Schatten rechts unten */
    letter-spacing: 0.15em;
  }

.city-circle.Äquator{
    display: none;
}

.antarctica {
    font-family: sans-serif;
    font-size: 16px;
    fill: #ffffff;  /* Textfarbe */
    text-align: center;
    font-size: 0.9em;
    text-transform: uppercase;
    text-shadow:
    -2px -2px 0 #ADD8E5,   /* Schatten links oben */
    2px -2px 0 #ADD8E5,    /* Schatten rechts oben */
    -2px 2px 0 #ADD8E5,    /* Schatten links unten */
    2px 2px 0 #ADD8E5;     /* Schatten rechts unten */
    letter-spacing: 0.15em;
  }

.ocean-path{
    opacity: 0;
}

/* route on the map style*/
.Amundsen{
    stroke: rgb(40, 56, 96);
}
  
.Scott{
    stroke: rgb(107, 153, 178);
}

.text-overlay {
    position: absolute;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    pointer-events: none;
}

/* comic bilder style*/
.image-container {
    position: relative;
}

.container {
    width: 100%;
    position: relative;
}

.day-div {
    width: 100%;
    margin-bottom: 10px;
    /*background-color: lightblue;  Standardfarbe */
    text-align: center;
    line-height: 1.5; /* Zeilenhöhe für lesbaren Text */
}

.spacer-div {
    width: 100%;
    background-color: #ffffff;
}

.margin {
    width: 100%;
    height: 50vh; /* 50% der Fensterhöhe */
}