
body {
    margin: 0;
    overflow-x: hidden;
}
.bannerbox{
    position: relative;
    width: 100vw;
    height: 80vh;
}
.banner {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}
.dia {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    transition: transform 1s ease-in-out;
}
.dia.active {
    opacity: 1;
    transform: translateX(0);
}
.dia.next {
    opacity: 0;
    transform: translateX(100%);
}
.dia.before {
    transform: translateX(-100%); /* Bewegt das neue Bild von rechts herein */
}
.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
}
h1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(9, 52, 69);
    font-size: 4vw;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal; 
}

h2{
    color: rgb(9, 52, 69);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: sans-serif;
    line-height: 150%;
    color: rgb(30, 32, 32);
}
a{
    font-family: sans-serif;
    line-height: 150%;
    font-weight: 700;
    color: rgb(9, 52, 69);
    display: block;
    margin: 16px 0px;
}
section{
    position: relative;
    background-color: white;
    z-index: 10;
    border-radius: 5vw 5vw 0vw 0vw;
    padding: 100px;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

article img {
    border-radius: 5px;
}



.articletext{
    padding: 48px;
    width: 50%;
}
.rechts{
    float: right;
    box-sizing: border-box;
}

.links {
    float: left;
    box-sizing: border-box;
}

.articleimg{
    width: 50%;
    height: auto;
}

.language-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.toggle-btn {
    width: 50px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(9, 52, 69);
    color: #fff;
    border: 0px;
    border-radius: 5px;
    opacity: 0.8;
}

/* Media Query für Bildschirmbreiten bis maximal 768px */
@media screen and (max-width: 1200px) {
    .articletext{
        padding: 48px;
        float: none;
        width: 100%;
        padding: 0px;
    }
    
    .articleimg{
        width: 100%;
        height: auto;
        float: none;
    }

}

/* Media Query für Bildschirmbreiten bis maximal 768px */
@media screen and (max-width: 700px) {
    .articletext{
        padding: 5px;
        float: none;
        width: 100%;
        padding: 0px;
    }
    
    .articleimg{
        width: 100%;
        height: auto;
        float: none;
    }

    section{
        padding: 20px;
       
    
    }

}